<router-outlet></router-outlet>
<div>
    <div class="content">
        <h1>Welcome to iBook</h1>
        <p>Get your book from our vast library.Create an account or login to proceed further</p>
        <div>
            <button class="btn btn-outline-info"  type="button" (click)="SigninProcess()"><span> Sign in</span></button><p>   </p>
            <button class="btn btn-outline-info" type="button" (click)="SignupProcess()"><span> Sign up </span></button>
        </div>
    </div>
</div>
<router-outlet> </router-outlet>
